{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}
{% if search %}
<h2 class="mb-3">Search results for: {{ search }}</h2>
{% endif %}
<div>
    <div class="row pt-5">
        <div class="col-9">
        <div class="row gx-4 gx-lg-5  row-cols-1 row-cols-md-2 row-cols-xl-3 justify-content-center">
        {% for ad in ads %}
        <div class="col mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
                <div class="card-body p-4">
                    <div class="text-center">
                        <div class="d-flex justify-content-center">
                            <h5 class="fw-bolder">{{ad.manufacturer}} {{ad.model}} </h5>
                            <p>({{ ad.year }})</p>
                        </div>
                        {{ ad.price }}$
                        <hr>
                        <div class="font-size-14">
                            <p class="font-size-14">Seller phone: <span
                                    class="text-decoration-underline">{{ ad.phone }}</span></p>
                            <p>{{ ad.description| truncate(60) }}</p>
                            <p>{{ ad.additional_details }}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="{{ url_for('show_advertisement', uuid=ad.uuid) }}">View
                        details</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
        </div>
        <div class="col-3">
    <div class="card ">
       <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
    </div>
        </div>
</div>
</div>

<a class="btn btn-dark" href="{{ url_for('show_create_form') }}">Create new advertisement</a>
{% endblock %}
