{% extends "base.html" %}
{% block title %}Home page{% endblock %}

{% block content %}
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    {% for ad in ads %}
    <div class="col mb-5">
        <div class="card h-100">
            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..."/>
            <div class="card-body p-4">
                <div class="text-center">
                    <div class="d-flex justify-content-center">
                        <h5 class="fw-bolder">{{ad.manufacturer}} {{ad.model}} </h5>
                        <p>({{ ad.year }})</p>
                    </div>
                    {{ ad.price }}$
                    <hr>
                    <div class="font-size-14">
                        <p class="font-size-14">Seller phone: <span class="text-decoration-underline">{{ ad.phone }}</span></p>
                        <p>{{ ad.description }}</p>
                        <p>{{ ad.additional_details }}</p>
                    </div>
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

  <a class="btn btn-dark" href="/show-create-form">Create new advertisemment</a>
{% endblock %}
